<h2 class="text-center">Articles</h2>

<% @articles.each do |article| %>

    <div class="border border-dark p-3 m-3" style="border-radius:8px;"> 
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="<%= article.url_to_image %>" style="width: 200px">
                </div>
                <div class="col">
                    <p><strong><%= link_to article.title, article.url, class:"text-dark" %></strong></p>
                    <p><%= time_ago_in_words(article.published_at) %> - Source:
                    <%= link_to article.source, article.url %></p>
                    <p><%= article.description %> 
                    <%= link_to "(read more)", article.url %></p>
                </div>
            </div>
        </div>
    </div>  


<% end %>

<%= will_paginate @events, class:"text-center my-2 text-dark page-link rounded" %>
