<h2>Articles</h2>

<% @top_headlines.each do |article| %>

    <div class="border border-dark p-3 m-3" style="border-radius:8px;"> 
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="<%= article.urlToImage %>" style="width: 200px">
                </div>
                <div class="col">
                    <p><strong><%= link_to article.title, article.url, class:"text-dark" %></strong></p>
                    <%= article.publishedAt %> - Source:
                    <%= link_to article.name, article.url %><br>
                    <%= article.description %>
                </div>
            </div>
        </div>

    </div>  


<% end %>
