<h1>Articles</h1>

<% @articles.each do |article| %>

    <div> 
        <img src="<%= article.url_to_image %>" style="width: 200px"><br>
        <%= link_to article.title, article.url %><br>
        <%= article.published_at %> - Source:
        <%= link_to article.source, article.url %><br>
        <%= article.description %>
        <hr>
    </div>  


<% end %>
