<h1>Technologies</h1>

<div class="container" style="margin-bottom:72px;">
<%= form_for @tag do |t| %>
  <div>
    <%= t.label :name, class:"mt-3" %>
    <%= t.text_field :name, class:"form-control" %>
  </div>

  <%= t.submit "Add", class:"btn btn-outline-dark mt-2 mb-4", style:"float:right" %>
<%end%>
</div>

 <div class="card mb-4">
<table class="table table-borderless container table-hover">
  <thead>
    <tr class="table-success">
      <th scope="col" style="border-radius:8px 0px 0px 0px">Technology Name</th>
      <th scope="col" style="border-radius:0px 8px 0px 0px">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
    <tr>
      <td style="border-right: 1px solid #e2e8eb"><%= tag.name %></td>
      <td> <%= link_to('remove', tag_path(tag.id),
      method: :delete, class:"text-warning")%></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>
