<div class="container">

  <%= month_calendar events: @events do |date, event| %>
    <%= date.day %>

    <% event.each do |e| %>
      <div  style="font-size: 0.8rem">
        <%= link_to e.name, e.link %>
      </div>
    <% end %>
  <% end %>


  <ul>
      <% @events.each do |event| %>
        <li>
        <%= link_to event.name, event.link %>
          <%= event.start_time %>
        </li>
      <% end %>
  </ul>
</div>