<div class="container">
<h2 class="my-3 text-center">Directory</h2>

<div class="container"  style="margin-bottom: 72px;">
<%= form_tag(companies_path, method: :get) do %>
  <%= text_field_tag :term, params[:term], class:"form-control" %>
  <%= submit_tag "Search", name: nil, class:"btn btn-outline-dark mt-2", style:"float: right;" %>
  <%= link_to "Clear", companies_path, class:"btn btn-outline-dark mt-2 mr-2", style:"float: right;" %>
<% end %>
</div>

<%= render "list" %>

</div>



