<div class="container">
<h2 class="my-3 text-center">Directory</h2>

<div style="width: 100%">
  <div id="map" style="width: 700px; height: 400px; margin: auto">
</div>
<br>

<div class="container" style="margin-bottom: 72px;">
  <%= form_tag(companies_path, method: :get) do %>
    <%= text_field_tag :term, params[:term], class:"form-control" %>
    <%= submit_tag "Search", name: nil, class:"btn btn-outline-dark mt-2", style:"float: right;" %>
    <%= link_to "Clear", companies_path, class:"btn btn-outline-dark mt-2 mr-2", style:"float: right;" %>
  <% end %>

  <div class="dropdown mt-2 mr-2" style="float:right">
    <button class="btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown">Team Size
    <span class="caret"></span></button>
    <ul class="dropdown-menu ">
      <li><a href="#" style="text-decoration:none"><p class="text-center lead list-group-item-action text-success">10</p></a></li>
      <li><a href="#" style="text-decoration:none" class="text-success"><p class="text-center lead list-group-item-action">20</a></li>
      <li><a href="#" style="text-decoration:none" class="text-success"><p class="text-center lead list-group-item-action">50</a></li>
    </ul>
  </div>

  <div class="dropdown mt-2 mr-2" style="float:right">
    <button class="btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown">Team Stack
    <span class="caret"></span></button>
    <ul class="dropdown-menu ">
      <li><a href="#" style="text-decoration:none"><p class="text-center lead list-group-item-action text-success">Autocoder</p></a></li>
      <li><a href="#" style="text-decoration:none" class="text-success"><p class="text-center lead list-group-item-action">BrightScript</a></li>
      <li><a href="#" style="text-decoration:none" class="text-success"><p class="text-center lead list-group-item-action">Coffeescript</a></li>
      <li><a href="#" style="text-decoration:none" class="text-success"><p class="text-center lead list-group-item-action">Elixir</a></li>
      <li><a href="#" style="text-decoration:none" class="text-success"><p class="text-center lead list-group-item-action">Express</a></li>
      <li><a href="#" style="text-decoration:none" class="text-success"><p class="text-center lead list-group-item-action">Javascript</a></li>
      <li><a href="#" style="text-decoration:none" class="text-success"><p class="text-center lead list-group-item-action">Postgres</a></li>
      <li><a href="#" style="text-decoration:none" class="text-success"><p class="text-center lead list-group-item-action">Rails</a></li>
      <li><a href="#" style="text-decoration:none" class="text-success"><p class="text-center lead list-group-item-action">Ruby</a></li>
    </ul>
  </div>
</div>

</div>

</div>

<%= render "list" %>

</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: { maxZoom: 20}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

