<!DOCTYPE html>
<html>
  <head>
    <title>TechTrawl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-sm navbar-primary bg-light">
        <span class="navbar-brand mb-0 h1 text-primary">TechTrawl</span>
        <div class="nav navbar-nav ml-auto">
          <ul class="nav justify-content-end">
          <li class="nav-item">
            <%= link_to('Directory', home_path, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to('Events', events_path, class: "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to('Articles', articles_path, class: "nav-link") %>
          </li>
        </ul>
      </div>
    </nav>

     <% if current_user&.admin? %>
        <nav class="navbar navbar-expand-sm navbar-primary bg-light">
          <span class="navbar-brand mb-0 h1 text-primary">Admin Dashboar</span>
          <div class="nav navbar-nav m-auto">
            <ul class="nav">
              <li class="nav-item">
                <%= link_to('Organization', admin_dashboard_organizations_path, class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link_to('Events', events_path, class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link_to('News', home_path, class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link_to('Users', admin_dashboard_users_path, class: "nav-link") %>
              </li>
              <li class="nav-item">
                <%= link_to('Technologies', admin_dashboard_technologies_path, class: "nav-link") %>
              </li>
            </ul>
          </div>
        </nav>
      <% end %>



    <div class="container-fluid">
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %> alert-dismissible fade show">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>

    <footer class="page-footer font-small bg-light">
      <div class="container mx-0 my-3">
        <div class="row">
          <div class="col-6">
            <% if current_user.present? %>
              <p>Hi, <%= current_user.first_name %></p>
              <%= link_to('Submit Organization', new_company_path)%><br>
              <%= link_to(
                'Sign Out',
                  session_path,
                  method: :delete
              ) %>
            <% else %>
              <%= link_to('Sign In', new_session_path) %><br>
              <%= link_to('Sign Up', new_user_path) %><br>
              <%= link_to('About', about_path) %>
            <% end %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>






